@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  transition: all .5s ease-in-out;
}

body{
  background-color: #111;
  color: #fff;
}
